<!DOCTYPE html>
<html>
  <head>
  	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>
  		Email from <%= @email %><br><br>
  		Content is as follow:<br>
  		<%= @content %>
  	</p>
  </body>
</html>