<p style="margin-left: 2em; font-size: 15px;">
  	<%= link_to image_tag("/assets/logo/X_pro.png",size: "200x75"), "/product/xpro" %><br><br>
  	<strong>CD Marker</strong><br><br>
  	<%= image_tag("/assets/CD_marker.jpg", size: "350x500") %>
</p>