<html>
  <body>
	<p style="margin-left: 2em;"><br>
		<strong style="font-size: 24px;">Showroom</strong><br>
		Address(I):<br> 179, Anawrahta Road, Lanmadaw Township, Yangon<br><br>
		<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=15th+Street+Bus+Stop,+Anawratha+Road,+Yangon,+Yangon+Region,+Myanmar+(Burma)&amp;aq=0&amp;oq=15th+Street+Bus+&amp;sll=16.77679,96.146537&amp;sspn=0.002016,0.004128&amp;ie=UTF8&amp;hq=&amp;hnear=15th+Street+Bus+Stop,+Anawratha+Rd,+Lanmadaw,+Yangon,+Yangon+Region,+Myanmar+(Burma)&amp;t=m&amp;ll=16.778267,96.146164&amp;spn=0.00719,0.00912&amp;z=16&amp&output=embed&iwloc=near"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=15th+Street+Bus+Stop,+Anawratha+Road,+Yangon,+Yangon+Region,+Myanmar+(Burma)&amp;aq=0&amp;oq=15th+Street+Bus+&amp;sll=16.77679,96.146537&amp;sspn=0.002016,0.004128&amp;ie=UTF8&amp;hq=&amp;hnear=15th+Street+Bus+Stop,+Anawratha+Rd,+Lanmadaw,+Yangon,+Yangon+Region,+Myanmar+(Burma)&amp;t=m&amp;ll=16.778267,96.146164&amp;spn=0.00719,0.00912&amp;z=16" style="color:#0000FF;text-align:left">View Larger Map</a></small><br><br>
		Phone: (95)-1-211802 <br><br>s
		Email: yanchun9@gmail.com<br><br>
		<strong style="font-size: 24px;">Office</strong><br>
		Address(II): A176, 178, Wardan Street, Lanmadaw Township, Yangon<br><br>
		<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=&amp;daddr=Bahosi+Hospital,+Yangon,+Myanmar+(Burma)&amp;hl=en&amp;geocode=CW9m1fos7NBtFbkJAAEd-Pq6BSntMxrTcOvBMDGfZiX441p2Uw&amp;sll=16.780424,96.138997&amp;sspn=0.008064,0.016512&amp;mra=mift&amp;ie=UTF8&amp;t=m&amp;ll=16.780383,96.13904&amp;spn=0.019722,0.027466&amp;z=15&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=&amp;daddr=Bahosi+Hospital,+Yangon,+Myanmar+(Burma)&amp;hl=en&amp;geocode=CW9m1fos7NBtFbkJAAEd-Pq6BSntMxrTcOvBMDGfZiX441p2Uw&amp;sll=16.780424,96.138997&amp;sspn=0.008064,0.016512&amp;mra=mift&amp;ie=UTF8&amp;t=m&amp;ll=16.780383,96.13904&amp;spn=0.019722,0.027466&amp;z=15" style="color:#0000FF;text-align:left">View Larger Map</a></small><br><br>
		Phone: (95)-1-215378, (95)-1-216848, (95)-1-709675<br><br>
		<%= link_to "Email Us", email_path, class: "btn btn-primary btn-small" %><br>
	</p>
  </body>
</html>