<body>
	<p class = "text-danger" style="margin-left: 2em;">Address:<br></p>
	<p style="margin-left: 2em;">Phone: 211802, 224026 <br>
		email: naingyeaung000@gmail.com<br>
		<%= link_to "Email Us", email_path, class: "btn btn-primary btn-large" %>
	</p>
</body>